@using Orbit.Data.Contexts
@model UserResponse
@inject IUserService userService
@inject IPostService postService
@inject ILikeService likeService

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
    var postAddRequest = new PostAddRequest();
    var posts = await postService.GetPostsRandomizedByUserPreferenceAsync(Model.UserName);
    var likes = await likeService.GetLikesFromUser(Model.UserName);
    var followers = await userService.GetAllUserAsync(u => u.UserName == Model.UserName, includeProperties: "Followers");
}

<div class="container">
    <div class="post-modal">
        <div class="post-form">
            <button class="btn-close">
                <i class="fa-solid fa-xmark icon"></i>
            </button>
            <h1>Post</h1>
            <form id="post-form" enctype="multipart/form-data" asp-action="create-post" asp-controller="post">
                <input type="hidden" name="returnTo" value="@Url.PageLink()">
                <div class="post-content">
                    <textarea asp-for="@postAddRequest.PostContent" placeholder="Content"></textarea>
                </div>
                <div class="post-upload-content">
                    <label for="imageOrVideo">
                        <h3>
                            <span>IMAGE</span>
                            <i class="fa-solid fa-camera"></i>
                        </h3>
                        <h3>
                            <span>VIDEO</span>
                            <i class="fa-solid fa-video"></i>
                        </h3>
                    </label>
                    <input type="file" name="imageOrVideo" id="imageOrVideo" accept=".jpeg,.png,.jpg,.gif,.mkv,.avi,.webm,.mp4">
                </div>
                <input type="hidden" asp-for="@postAddRequest.PostOwnerName" value="@Model.UserName">
                <div class="btn-submit">
                    <button id="send-post" type="submit">Post</button>
                </div>

                <span asp-validation-for="@postAddRequest.PostContent"></span>
            </form>
        </div>
    </div>
    <aside class="aside left" id="asideLeft">
        <div class="logo">
            <h2>OrbIt</h2>
        </div>
        <div class="container-menu">
            <ul class="menu">
                <a href="#">
                    <li class="menu-item">
                        <img src="~/images/home.png" alt="Home" class="icons" />
                        <span>Home</span>
                    </li>
                    <a href="chat">
                        <li class="menu-item">
                            <img src="~/images/messages.png" alt="Messages" class="icons" />
                            <span>Mensagens</span>
                        </li>
                    </a>
                    <a href="user?returnTo=@Url.PageLink()">
                        <li class="menu-item">
                            <img src="~/images/user.png" alt="Profile" class="icons" />
                            <span>Perfil</span>
                        </li>
                    </a>

                    <a href="">
                        <li class="menu-item">
                            <img src="~/images/three-dots.png" alt="More options" class="icons" />
                            <span>Mais</span>
                        </li>
                    </a>

                    <li class="menu-item">
                        <button class="btn-post" id="btn-show">
                            Publicar
                        </button>
                    </li>

                    <li class="container-profile">
                        <a href="user?returnTo=@Url.PageLink()">
                            <div class="profile-info">
                                <div class="img-container">
                                    <img src="@Url.Action("get-profile-image", "user", new { userName = Model.UserName })" alt="Profile Image" />
                                </div>
                                <div class="name-container">
                                    <h4>@Model.UserName</h4>
                                    <h4>See Profile</h4>
                                </div>
                            </div>
                        </a>
                    </li>
            </ul>
        </div>
    </aside>
    
    <main class="center-div">
        <div class="buttons-container">
            <button id="showAsideLeft"><i class="fa-solid fa-angle-right"></i></button>
            <button id="showAsideRight"><i class="fa-solid fa-angle-left"></i></button>
        </div>
        @foreach (var post in posts)
        {
            <div class="posts-container">
                <div class="content">
                    <div class="post-infos">
                        <div class="profile-infos">
                            <div class="img-profile">
                                <img src="@Url.Action("get-profile-image", "user", new { userName = Model.UserName })" alt="Profile Image" />
                            </div>
                            <div class="username-profile">
                                <a href="user/@post.User.UserName?returnTo=@Url.PageLink()"><span>@post.User.UserName</span></a>
                            </div>
                        </div>
                        <div class="post-text">
                            @post.PostContent
                        </div>
                    </div>
                    <div class="post-img">
                        @if(post.PostImageByteType != null)
                        {
                            <div class="img-container">
                                <img src="post/get-post-image/@post.PostId" alt="">
                            </div>
                        }
                        @if(post.PostVideoByteType != null)
                        {
                            <div class="img-container">
                                <video src="post/get-post-video/@post.PostId" class="video-content"></video>
                            </div>
                        }
                    </div>
                    <div class="post-interactions">
                        <a class="like_post" href="like/like-post/@post.PostId">
                            @if(likes.Any(x => x.PostId == post.PostId))
                            {
                                <i class="fi fi-br-heart red-icon-heart icons"></i>
                            }
                            else
                            {
                                <i class="fi fi-br-heart icons"></i>
                            }
                        </a>
                        <i class="fi fi-br-comment-alt-middle icons"></i>
                        <i class="fi fi-bs-paper-plane icons"></i>
                    </div>
                </div>
            </div>
        }
    </main>
    <aside class="aside right" id="asideRight">
        <button id="closeAsideRight"><i class="fa-solid fa-xmark"></i></button>
        <div class="container-premium">
            <h3>OrbIt Premium</h3>
            <p>Com a orbit premium, você pode fazer amizades com mais segurança.</p>
            <button type="button">
                Seja Premium
            </button>
        </div>
        <div class="follower-profiles">
            <h3>Followed Users</h1>
            @foreach(var follower in followers.First().Followers){
                <a href="user/@follower.UserName?returnTo=@Url.PageLink()">
                <div class="user-followed">
                    <div class="img-user">
                        <img src="@Url.Action("get-profile-image", "user", new { userName = follower.UserName })" alt="">
                    </div>
                    <div class="user-name">
                        <h3>@follower.UserName</h3>
                    </div>
                </div>
            </a>
            }
        </div>
    </aside>
    <footer></footer>
</div>


@section links {
    <link rel="stylesheet" href="~/css/Panel.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
}

@section scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e9c5d2a439.js" crossorigin="anonymous"></script>
    <script src="~/js/panel.js" asp-append-version="true"></script>
    <script>
        $(".like_post").click(function (e) {
            e.preventDefault();
            let element = $(this);
            let url = $(this).attr("href");
            let heart = element.find(".fi-br-heart");
            if (heart.hasClass('red-icon-heart'))
            {
                heart.removeClass("red-icon-heart");
            }
            else
            {
                heart.addClass("red-icon-heart");
            }
            $.get(url, function () { });
        });
    </script>
}
