@using Orbit.DTOs;
@using Orbit.DTOs.Responses
@using Orbit.Models

@model UserResponse

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}

<header class="content-top">
    <div class="btn-back">
        @if(Context.Request.Query.ContainsKey("returnTo"))
        {
            var returnTo = Context.Request.Query["returnTo"];        
            <a id="back" href="@returnTo"><i class="fa-solid fa-left-long icons"></i></a>
        }
    </div>
    <div class="title-user">
        <span>Olá, @(Html.Raw(Model.UserProfileName ?? ""))</span>
    </div>
    <div class="logout-btn">
        <a class="btn-logout" href="~/account/log-out">Logout</a>
    </div>
</header>

<form class="background-img" id="form-banner">
    <input type="file" name="backgroundImg" id="backgroundImg" />
    <img src="@Url.Action("get-banner-image", "user", new { userName = Model.UserName })"/>
    <label class="text-img" for="backgroundImg">Add an Image</label>
</form>

<main class="content-main">
    <div class="profiles-specs">
        <form class="profile-img" id="profile-image-form" enctype="multipart/form-data">
            <input type="file" name="profileImage" id="profileImage" />
            <img src="@Url.Action("get-profile-image", "user", new { userName = Model.UserName })" alt="~/images/image-profile.png" />
            <label class="profile-text-image" for="profileImage">Add an Image</label>
        </form>
        <div class="profile-description">
            <h2>@Model.UserName</h2>
            <p>@Html.Raw("@")@Model.UserName</p>
            <p>@Model.UserDescription</p>
            <div class="profile-followers">
                <a href="../interaction/followers">Followers <span>@Model.Followers!.Count</span></a>
                <a href="../interaction/followed">Following <span>@Model.Users!.Count</span></a>
            </div>
        </div>

        <div class="edit-profile">
            <button class="btn-edit" id="openEditDiv">Editar Perfil</button>
            <a href="/chat" class="msg-btn">Mensagens</a>
        </div>
    </div>

    <div class="modal-container-edit" id="modal-container-edit">
        <div id="divEditProfile" class="container-edit">
            <button class="form-btn" id="closeBtn">
                <i class="fa-solid fa-xmark icons"></i>
            </button>
            <form method="post" action="user/update-profile/@Model.UserName?returnTo=@Url.PageLink()" enctype="multipart/form-data" class="form-edit">
            <h2 class="edit-title">Edit Profile</h2>
            <div class="username-container">
                <input type="text" name="UserName" value="@Model.UserName" placeholder="Username" />
            </div>
            <div class="profileName-container">
                <input type="text" name="UserProfileName" value="@Model.UserProfileName" placeholder="Profile Name" />
            </div>
            <div class="description-text">
                <textarea id="descricao-textarea" name="UserDescription" placeholder="Description">
                    @Model.UserDescription
                </textarea>
            </div>
            <div class="submit-container">
                <input type="submit" id="submit-edit" placeholder="Submit" />
            </div>
            </form>
        </div>
    </div>

    
    <div class="navigation-bar">
        <div class="content-nav">Publications</div>
        <div class="content-nav">Projects</div>
        <div class="content-nav">Curriculum</div>
        <div class="content-nav">Media</div>
    </div>
</main>

@section links {
    <link rel="stylesheet" href="~/css/Dasboard.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"rel="stylesheet">
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="~/js/profile-page.js" asp-append-version="true"></script>
    <script src="~/js/interaction.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e9c5d2a439.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js" integrity="sha512-FzakzcmrNSXS5+DuuYSO6+5DcUZ417Na0vH1oAIo49mMBA8rHSgkKSjE2ALFOxdQ/kPqF3HZRzb0HQ+AvwXttg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js" integrity="sha512-FzakzcmrNSXS5+DuuYSO6+5DcUZ417Na0vH1oAIo49mMBA8rHSgkKSjE2ALFOxdQ/kPqF3HZRzb0HQ+AvwXttg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
