@model UserResponse

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}

<header class="content-top">
    <div class="btn-back">
        <a id="back" href="../panel"><i class="fa-solid fa-left-long icons"></i></a>
    </div>
    <div class="title-user">
        <span>@Model.UserName</span>
    </div>
</header>

<div class="background-img-guest">
    <img src="@Url.Action("get-banner-image", "user", new { userName = Model.UserName })" alt="Banner Image" />
</div>

<main class="content-main">
    <div class="profiles-specs">
        <div class="profile-img">
            <img src="@Url.Action("get-profile-image", "user", new { userName = Model.UserName })"
                alt="Profile Image" />
        </div>
        <div class="profile-description">
            <h2>@Model.UserName</h2>
            <p>@Html.Raw("@")@Model.UserName</p>
            <p>@Model.UserDescription</p>
            <div class="profile-followers">
                <a href="../interaction/followers?userName=@Model.UserName">Followers <span>@Model.Followers!.Count</span></a>
                <a href="../interaction/followed?userName=@Model.UserName">Following <span>@Model.Users!.Count</span></a>
            </div>
        </div>

        <div class="edit-profile">
            @if (Model.Followers.Any(u => u.UserName == ViewBag.ViewExternalUsernameFollower))
            {
                <form method="post" enctype="multipart/form-data" action="unfollow?returnTo=@Url.PageLink()">
                    <input type="hidden" name="id" value="@Model.UserName" />
                    <input type="hidden" name="followerUserName" value="@ViewBag.ViewExternalUsernameFollower" />
                    <button class="btn-edit" id="btn-unfollow">Unfollow Profile</button>
                </form>
            }
            else
            {
                <form method="post" enctype="multipart/form-data" action="follow?returnTo=@Url.PageLink()">
                    <input type="hidden" name="id" value="@Model.UserName" />
                    <input type="hidden" name="followerUserName" value="@ViewBag.ViewExternalUsernameFollower" />
                    <button class="btn-edit" id="btn-follow">Follow Profile</button>
                </form>
            }
        </div>
    </div>

    @if (!Model.IsPrivateProfile)
    {
        <div class="navigation-bar" display="none">
            <div class="content-nav">Publications</div>
            <div class="content-nav">Projects</div>
            <div class="content-nav">Curriculum</div>
            <div class="content-nav">Media</div>
        </div>
    }

    <input type="hidden" value="@Model.UserName" id="user">
    <input type="hidden" value="@ViewBag.ViewExternalUsernameFollower" id="follower">
</main>

@section links {
    <link rel="stylesheet" href="~/css/Dasboard.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        asp-fallback-src="~/libs/jQuery/js/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="https://kit.fontawesome.com/e9c5d2a439.js" crossorigin="anonymous"></script>
}
