@using Orbit.Application.Dtos.Responses

@model UserResponse

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}

<header class="content-top">
    <div class="btn-back">
        <img src="~/images/arrow-left-solid.svg" alt="Left-Arrow" />
    </div>
    <div class="title-user">
        <span>Olá, @(Html.Raw(Model.UserProfileName ?? "")), e esse cuzinho moscando ai?</span>
    </div>
    <div class="logout-btn">
        <a class="btn-logout" href="~/Account/Logout">Logout</a>
    </div>
</header>

<form class="background-img" enctype="multipart/form-data">
    <label class="text-img" for="backgroundImg">Add an Image</label>
    <input type="file" name="backgroundImg" id="backgroundImg" />
    <img src="" alt="" />
</form>

<main class="content-main">
    <div class="profiles-specs">
        <form class="profile-img" enctype="multipart/form-data">
            <a>
                <input type="file" name="profileImage" id="profileImage" />
                <img src="@Url.Action("GetProfileImage", new { userID = Model.UserId })" alt="Image Profile" />
                <label class="profile-text-image" for="profileImage">Add an Image</label>
            </a>
        </form>
        <form class="profile-img" id="profile-image-form" asp-action="UploadProfileImage" asp-controller="Profile" enctype="multipart/form-data">
            <label class="profile-text-image" for="profileImage">Add an Image</label>
            <input type="file" name="profileImage" id="profileImage" />
            <img src="@Url.Action("GetProfileImage", new { userID = Model.UserId })" alt="~/images/image-profile.png" />
        </form>
        <div class="profile-description">
            <h2>@Model.UserName</h2>
            <p>@Html.Raw("@")@Model.UserName</p>
            <p>
                @if (Model.UserDescription == null)
                {
                    <text>➕Adicionar descrição</text>
                }
                else
                {
                    <text>@Model.UserDescription</text>
                }
            </p>
            <div class="profile-followers">
                <p>Followers <span>@Model.Followers!.Count</span></p>
                <p>Following <span>@Model.Users!.Count</span></p>
            </div>
        </div>

        <div class="edit-profile">
            <button class="btn-edit">Edit Profile</button>
        </div>
    </div>

    <div class="navigation-bar">
        <div class="content-nav">Publications</div>
        <div class="content-nav">Projects</div>
        <div class="content-nav">Curriculum</div>
        <div class="content-nav">Media</div>
    </div>
</main>

@section links {
    <link rel="stylesheet" href="~/css/Dasboard.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>

    <script>
        $(document).ready(() => {
            $('#profileImage').change(() => {
                var formData = new FormData($('#profile-image-form')[0]);

                $.ajax({
                    url: '/Profile/UploadProfileImage',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (){
                        location.reload();
                    }
                })
            });
        });
    </script>
}
