@model ChatContext

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";

    var union = new HashSet<User>();

    foreach (var user in Model.Host.Users)
    {
        union.Add(user);
    }

    foreach (var user in Model.Host.Users)
    {
        union.Add(user);
    }
}

<main class="container">
    <div class="contacts-container">
        <h2>Contacts</h2>
        @foreach (var user in union)
        {
            <a href="@Url.Action($"{user.UserName}")">
                <div class="contact-user">
                    <div class="profile-img">
                        <img src="@Url.Action("get-profile-image", "user", new { userName = user.UserName })" alt="Profile Image" />
                    </div>
                    <div class="profile-name">@user.UserName</div>
                </div>
            </a>
        }
    </div>
    <div class="messages-container">
        @if (Model.Guest == null)
        {
            <header class="info-container">
                <div class="profile-img">
                    <img src="@Url.Action("get-profile-image", "user", new { userName = Model.Host.UserName })" alt="Profile Image" />
                </div>
                <div class="profile-name"><span>@Model.Host.UserName</span></div>
            </header>
        }
        else
        {
            <header class="info-container">
                <div class="profile-img">
                    <img src="@Url.Action("get-profile-image", "user", new { userName = Model.Guest.UserName })" alt="Profile Image" />
                </div>
                <div class="profile-name"><span>@Model.Guest.UserName</span></div>
            </header>
        }
        <main class="messages">
            <div class="contact-message"></div>
            <div class="user-message"></div>
        </main>
        <footer>
            <div class="input-container">
                <input type="text" name="" id="input-message" placeholder="Send message" />
                <input type="button" id="btn-submit" value="Send" />
            </div>
        </footer>
    </div>
    <input type="hidden" value="@Model.Guest?.UserName" id="guest">
</main>

@section links {
    <link rel="stylesheet" href="~/css/Chat.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
}

@if (Model.Guest != null)
{
    @section scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js"
            asp-fallback-src="~/libs/signalR/signalr.js"
            asp-fallback-test="signalR"></script>
        <script src="~/js/chat.js" asp-append-version="true"></script>
    }
}
