@model UserAddRequest

@{
    Layout = "~/Views/Shared/_LayoutRenderBase.cshtml";
}


<div class="container">
    <label for="btnShow">
    Welcome to OrbIt
    </label>
    <button type="button" name="btnShow" id="btnShow">Click here to start</button>
</div>

<div class="modal-container">
    <div class="modal-section">
        <div class="signUp-sections">
            <div class="login-div">
                <div class="container-btn">
                    <button type="button" name="btnHide" class="btnHide"><i class="fa-solid fa-xmark icons"></i></button>
                </div>

                <h1>Login</h1>

                <form asp-action="login" asp-controller="account">
                    <div class="container-login-method">  
                        <input type="text" name="inputLogin" required>
                        <label for="inputLogin">Username</label>
                        <i class="fa-solid fa-user icons-forms"></i>
                    </div>

                    <div class="container-password">
                        <input type="password" name="password" required>
                        <label for="password">Password</label>
                        <i class="fa-solid fa-lock icons-forms"></i>
                        <p>Don't have an account yet? <a id="signUpDiv">Sign up</a></p>
                    </div>

                    <div class="btn-submit">
                        <button type="submit">
                            Login
                            <i class="fa-solid fa-right-to-bracket icons-buttons"></i>
                            </button>
                    </div>
                </form>
            </div>
            <div class="signUp-div">
                <div class="container-btn">
                    <button type="button" name="btnHide" class="btnHide"><i class="fa-solid fa-xmark icons"></i></button>
                </div>

                <h1>Sign-Up</h1>

                <form asp-action="create-user" asp-controller="account">
                    <div class="container-username">
                        <input type="text" asp-for="@Model.UserName">
                        <label asp-for="@Model.UserName">Username</label>
                        <i class="fa-solid fa-user icons-forms"></i>
                    </div>

                    <div class="container-profileName">
                        <input type="text" required asp-for="@Model.UserProfileName">
                        <label asp-for="@Model.UserProfileName">Profile name</label>
                        <i class="fa-solid fa-circle-user icons-forms"></i>
                    </div>

                    <div class="container-email">
                        <input type="text" required>
                        <label for="">Email</label>
                        <i class="fa-solid fa-envelope icons-forms"></i>
                    </div>

                    <div class="container-password">
                        <input type="text" required asp-for="@Model.UserPassword">
                        <label asp-for="@Model.UserPassword">Password</label>
                        <i class="fa-solid fa-lock icons-forms"></i>
                        <p>Already have an account? <a id="loginDiv">Login</a></p>
                    </div>

                    <div class="container-submit">
                        <button type="submit">
                            Sign-Up
                            <i class="fa-solid fa-right-to-bracket icons-buttons"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section links {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
            asp-fallback-src="~/libs/particle/js/particles.min.js"
            asp-fallback-test="window.particleJS"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/libs/jQuery/js/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"
            asp-fallback-src="~/libs/jQuery/js/additional-methods.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/e9c5d2a439.js" crossorigin="anonymous"></script>

    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/js/particle.js" asp-append-version="true"></script>
    <script src="~/js/behavior.js" asp-append-version="true"></script>
    <script src="~/js/validate.js" asp-append-version="true"></script>
    @if (ViewBag.LoginModalActive != null && ViewBag.LoginModalActive == true)
    {
        <script>
            $(document).ready(() => {
                $('#openLogin').click();
            });
        </script>
    }

    @if (ViewBag.RegisModalActive != null && ViewBag.RegisModalActive == true)
    {
        @switch(ViewBag.PartNumber)
        {
            case 2:
                <script>
                    $(document).ready(() => {
                        $('#openSignIn').click();
                        $('#email').val('a@a.com'); // Just an random email to pass the validation
                        $('#nextBtn').click();
                        $('#email').val('');
                    });
                </script>
            break;
            default:
                <script>
                    $(document).ready(() => {
                        $('#openSignIn').click();
                    });
                </script>
            break;
        }
    }
}
